body {
	padding-top: 0;
}
.text-uppercase {
	text-transform: uppercase;
}
.navbar-default {
 	background-color: #344892;
 	border-color: #344892;
 }
 .navbar-default .nav li a:hover {
 	background-color: darkblue;
 }
.navbar a {
	text-decoration: none;
}
.navbar h2 {
	color: #ffffff;
}
.navbar h2 span,
.navbar h5 span {
	color: #262626;
}
.search {
	height: 50%;
}
.navbar h5 {
	color: #ffffff;
	text-align: left;
}
.navbar h5 span.emp {
	text-decoration: underline;
	font-weight: bold;
	color: #ffffff;
}
.navbar-static-top .navbar-collapse {
	padding-top: 20px;
}
.footer {
	position: relative;
	top: 10%;
	width: 100%;
}
.footer img {
	margin-right: 4%;
	margin-left: 4%;
}
.footer p {
	font-size: 1em;
	margin: 0px;
}
.about {
	text-align: justify;
}
.about span {
	color: #262626;
}
.logo {
	color: #262626;
}
.logo span {
	color: #ea2f10;
}
.links {
	display: inline-grid;
	border: 1px solid lightgray;
    font-weight: bold;
}
.form-inline .form-control {
	height: 48px;
    padding: 10px 16px;
    font-size: 19px;
    line-height: 1.33;
}
.form-inline input {
	width: 70% !important;
}
.example{
	cursor: pointer;
}
.jumbotron {
	margin-bottom: 20px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid gray;
}
.jumbotron .inline {
	display: inline-flex;
}
.jumbotron .list-unstyled {
	padding-left: 130px;
}
.seq {
	font-size: x-small;
	word-break: break-all;
}
.list-group-item {
	height: 210px !important;
	margin-bottom: 30px;
	border: 2px solid lightgray;
}
.list-group-item-heading {
	padding: 5px 0 5px 0;
	text-align: center;
}
.list-group-item .pwm {
	width: 29%;
	height: 150px;
}
.list-group-item .top-peptides {
	width: 20%;
	padding: 15px 20px;
	position: relative;
    bottom: 50px;
    height: 150px;
}
.list-group-item .downloads {
	width: 20%;
	padding: 22px 20px 26px;
	position: relative;
    bottom: 40px;
	font-size: 14px;
}
